
h1{
  text-align: center; /*add align*/
  font-size: 40px;/*add size letters*/

}

.picture{
  display: inline-block;/*add display*/
  box-sizing: border-box;/*add box-sizing*/
  width: 312px;/*add width*/
  position: relative;/*add position*/
  top:13px;/*add top*/
}
img {
  height: 215px;/*add height to image*/
  margin: 0;/*delete  margin to image*/
  border:2px solid gray;/*add border to image*/
}
section {
  width: 80%;
  margin: 20px 0px 0px 100px;
  border: 3px solid black;
  text-align: center;
  max-height: 100%;
  background: antiquewhite;
  display: flex;
  flex-direction: row;
  justify-content: center;

}
h3{
  margin:auto;/*add margin*/
  position: relative;/*add position*/ 
  top:-23px;/*add top*/
  color:white;/*add color to letters*/
  left: 40px;/*add left*/
}
